:root {
  --blue: #0079ff;

  --space-XS: 10px;
  --space-S: 20px;
  --space-M: 60px;
  --space-L: 120px;
  --space-XL: 240px;

  --fontSize-XS: 15px;
  --lineHeight-XS: 18px;
  --letterSpacing-XS: 0.3px;

  --fontSize-S: 29.75px;
  --lineHeight-S: 31.45px;
  --letterSpacing-S: -1px;

  --fontSize-M: 38.25px;
  --lineHeight-M: 39.5px;

  --fontSize-L: 85px;
  --lineHeight-L: 85.85px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Siggnal-Regular";
  src: url("../../public/fonts/Siggnal-Regular-Trial.otf");
}

@font-face {
  font-family: "MJH-Regular";
  src: url("../../public/fonts/MJH-100-Regular.otf");
}

@font-face {
  font-family: "MJH-Medium";
  src: url("../../public/fonts/MJH-160-Medium.otf");
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "MJH-Regular";
  color: var(--blue);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-family: "Siggnal-Regular";
  font-size: 25px;
  line-height: 28px;
  letter-spacing: -0.5px;
  word-spacing: -2px;
}

h3 {
  font-weight: normal;
  font-size: var(--fontSize-XS);
  line-height: var(--lineHeight-XS);
  letter-spacing: var(--letterSpacing-XS);
}

h2 {
  font-family: "Siggnal-Regular";
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: -1px;
}

h1,
h1 p {
  font-family: "Siggnal-Regular";
  font-weight: normal;
  font-size: 40px;
  line-height: 38px;
  letter-spacing: -1px;
}

h1 em {
  font-style: normal;
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-thickness: 3px;
}

ul {
  list-style-type: none;
}

.pageWrapper {
  padding: var(--space-S) var(--space-L);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homePage {
  background: white;
  /* margin-top: calc(100vh - 80px); */
  z-index: 100;
  position: relative;
}

.sliderSpacer {
  height: calc(100vh - 80px);
}

.homeNavigation {
  display: flex;
  padding: var(--space-S) 0 var(--space-XL);
}

.contactSection {
  display: flex;
  width: 100%;
  padding-bottom: var(--space-XL);
}

.contactColumn {
  width: 50%;
  text-align: center;
}

.contactColumn h1 {
  padding-bottom: var(--space-M);
}

.contactColumn li {
  font-family: "Siggnal-Regular";
  font-size: var(--fontSize-S);
  line-height: var(--lineHeight-S);
  letter-spacing: var(--letterSpacing-S);
}

/* NAV */

.navButton {
  padding: var(--space-S) var(--space-M) 30px;
  margin: var(--space-XS);
  border: 2px solid var(--blue);
  border-radius: 10px;
  transition: border-radius 0.2s ease, opacity 0.2s ease;
}

.navButton:hover {
  border-radius: 100px;
  opacity: 0.5;
}

.textSection {
  padding-bottom: var(--space-M);
}

.header {
  position: fixed;
  top: 0;
}

.sliderImageWrapper {
  width: 100vw;
  height: calc(100vh - 80px);
  z-index: 0;
}

.navWrapper,
.subNavWrapper {
  background: white;
  height: 40px;
  width: 100vw;
  padding: 0 10px;
  position: fixed;
  top: 0;
  z-index: 1000;
  opacity: 0;
  animation: fadeIn 0.5s ease;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  filter: drop-shadow(0 -15px 10px black);
}

.navEntry {
  text-align: center;
  position: absolute;
  transition: all 0.5s ease;
  transition-delay: 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.subNavWrapper {
  top: 40px;
  z-index: 500;
  font-family: "MJH-Medium";
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categoriesLeft {
  display: flex;
  justify-content: space-between;
  width: 170px;
}

.categoriesRight {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

/* WORK */

.workWrapper {
  padding: var(--space-L) var(--space-XS);
  width: calc(100vw - 2 * var(--space-XS));
  left: 0;
  top: 0;
  transition: opacity 0.5s ease
}

.workPageSwitch {
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition: transform 0.5s ease;
  width: 200vw;
  overflow: hidden;
  min-height: 100vh;
}

.workInfos {
  display: flex;
  padding-bottom: var(--space-M);
}

.workInfosSection {
  width: 50%;
  display: flex;
}

.workInfoYear {
  width: 150px;
  font-size: var(--fontSize-XS);
}

.scrollAnchor {
  padding-top: 95px;
  margin-top: -95px;
}

.indexGrid {
  padding-left: var(--space-S);
}

.indexWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.indexEntry {
  padding-right: var(--space-XS);
  padding-bottom: var(--space-S);
}

.indexEntry p {
  font-size: var(--fontSize-XS);
  line-height: var(--lineHeight-XS);
  letter-spacing: var(--letterSpacing-XS);
}

.indexImgWrapper {
  width: 100%;
  /* min-height: 300px;
  max-height: 400px; */
  position: relative;
}

/* FOOTER */

.footerWrapper {
  background: white;
  position: relative;
  padding: var(--space-S);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.newsletterSignup p {
  font-family: "MJH-Regular";
  font-size: var(--fontSize-XS);
  line-height: var(--lineHeight-XS);
  letter-spacing: var(--letterSpacing-XS);
  padding-bottom: var(--space-XS);
}

.newsletterSignup input {
  border: 2px solid var(--blue);
  border-radius: 50px;
  padding: 0px 20px 5px 20px;
  width: 100%;
  transition: width 0.3s ease;
  cursor: pointer;
  color: var(--blue);
  font-family: "Siggnal-Regular";
  font-size: var(--fontSize-S);
  letter-spacing: var(--letterSpacing-S);
}

.newsletterSignup .inputWrapper {
  position: relative;
  transition: width 0.3s ease;
  width: 170px;
}

.newsletterSignup .inputWrapper:hover {
  width: 300px;
}

.newsletterSignup .inputWrapper::after {
  content: "->";
  /* color: var; */
  font-size: 24pt;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(calc(-50% - 2px));
}

.newsletterSignup .inputWrapper:focus-within::after {
  content: "";
}

.newsletterSignup input:focus::placeholder {
  color: transparent;
}

.newsletterSignup input:focus {
  width: 300px;
}

.newsletterSignup input::placeholder {
  color: var(--blue);
  font-family: "Siggnal-Regular";
  font-size: var(--fontSize-S);
  line-height: var(--lineHeight-S);
  letter-spacing: var(--letterSpacing-S);
}

.newsletterSignup input:hover::placeholder {
  opacity: 0.5;
}

.siteMap {
  display: flex;
}

.siteMap ul {
  width: 120px;
}

.siteMap li {
  line-height: 20px;
}

.siteMap li:first-of-type {
  font-family: "MJH-Medium";
  padding-bottom: var(--space-S);
}

/* ABOUT */

.subNavAbout {
  display: flex;
  justify-content: center;
  width: 100%;
}

.subNavAbout span {
  margin: 0 var(--space-S);
  cursor: pointer;
}

.aboutPageWrapper {
  padding-top: var(--space-XL);
}

.aboutEntryWrapper {
  padding: 0 var(--space-S) var(--space-XL);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutEntryWrapper h1 {
  text-align: center;
  padding-bottom: var(--space-M);
}

.aboutEntryWrapper h3 {
  text-align: center;
  font-family: "MJH-Medium";
  padding-bottom: var(--space-XS);
}

.aboutEntryWrapper p {
  max-width: 1400px;
}

.aboutEntry {
  display: flex;
  margin: var(--space-S) 0 0 0;
  width: 100%;
}

.aboutEntry img {
  border-radius: 15px;
}

/* CONTACT */

.contactWrapper {
  padding: 400px var(--space-S);
  display: flex;
  width: 100%;
}

.col-50 {
  width: 50%;
}

.col-right {
  display: flex;
}

.caption p {
  font-size: var(--fontSize-XS);
  line-height: var(--lineHeight-XS);
  letter-spacing: var(--letterSpacing-XS);
  font-family: "MJH-Regular";
  max-width: 400px;
}

.contactLine {
  padding-top: var(--space-S);
}
