:root {
  --blue: #0079ff;

  --space-XS: 9px;
  --space-S: 18px;
  --space-M: 54px;
  --space-L: 108px;
  --space-XL: 216px;

  --fontSize-XS: 13.5px;
  --lineHeight-XS: 16.2px;
  --letterSpacing-XS: 0.27px;

  --fontSize-S: 26.775px;
  --lineHeight-S: 28.305px;
  --letterSpacing-S: -0.9px;

  --fontSize-M: 34.425px;
  --lineHeight-M: 35.55px;
  --letterSpacing-M: -0.45px;

  --fontSize-L: 76.5px;
  --lineHeight-L: 77.265px;
}

@media screen and (max-width: 1000px) {
  :root {
    --blue: #0079ff;

    --space-XS: 4.5px;
    --space-S: 9px;
    --space-M: 36px;
    --space-L: 81px;
    --space-XL: 162px;

    --fontSize-XS: 10.8px;
    --lineHeight-XS: 14.4px;
    --letterSpacing-XS: 0.27px;

    --fontSize-S: 16.2px;
    --lineHeight-S: 18.9px;
    --letterSpacing-S: -0px;

    --fontSize-M: 25.425px;
    --lineHeight-M: 28.8px;
    --letterSpacing-M: -0.45px;

    --fontSize-L: 76.5px;
    --lineHeight-L: 77.265px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Siggnal-Regular";
  src: url("../../public/fonts/Siggnal-Regular-Trial.otf");
}

@font-face {
  font-family: "MJH-Regular";
  src: url("../../public/fonts/MJH-100-Regular.otf");
}

@font-face {
  font-family: "MJH-Medium";
  src: url("../../public/fonts/MJH-160-Medium.otf");
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "MJH-Regular";
  color: var(--blue);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-family: "Siggnal-Regular";
  font-size: var(--fontSize-S);
  line-height: var(--lineHeight-S);
  letter-spacing: var(--letterSpacing-S);
  word-spacing: -1.8px;
}

h3 {
  font-weight: normal;
  font-size: var(--fontSize-XS);
  line-height: var(--lineHeight-XS);
  letter-spacing: var(--letterSpacing-XS);
}

h2 {
  font-family: "Siggnal-Regular";
  font-weight: normal;
  font-size: 27px;
  line-height: 31.5px;
  letter-spacing: -0.9px;
}

h1,
h1 p {
  font-family: "Siggnal-Regular";
  font-weight: normal;
  font-size: var(--fontSize-M);
  line-height: var(--lineHeight-M);
  letter-spacing: var(--letterSpacing-M);
}

h1 em {
  font-style: normal;
  text-decoration: underline;
  text-underline-offset: 6.3px;
  text-decoration-thickness: 2.7px;
}

ul {
  list-style-type: none;
}

.pageWrapper {
  padding: var(--space-S) var(--space-L);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homePage {
  background: white;
  /* margin-top: calc(100vh - 72px); */
  z-index: 100;
  position: relative;
}

.sliderSpacer {
  height: calc(100vh - 72px);
}

.homeNavigation {
  display: flex;
  padding: var(--space-S) 0 var(--space-XL);
}

.contactSection {
  display: flex;
  width: 100%;
  padding-bottom: var(--space-XL);
}

.contactColumn {
  width: 50%;
  text-align: center;
}

.contactColumn h1 {
  padding-bottom: var(--space-M);
}

.contactColumn li {
  font-family: "Siggnal-Regular";
  font-size: var(--fontSize-S);
  line-height: var(--lineHeight-S);
  letter-spacing: var(--letterSpacing-S);
}

/* NAV */

.navButton {
  padding: var(--space-S) var(--space-M) 27px;
  margin: var(--space-XS);
  border: 1.8px solid var(--blue);
  border-radius: 9px;
  transition: border-radius 0.18s ease, opacity 0.18s ease;
}

.navButton:hover {
  border-radius: 90px;
  opacity: 0.5;
}

.textSection {
  padding-bottom: var(--space-M);
}

.header {
  position: fixed;
  top: 0;
}

.sliderImageWrapper {
  width: 100vw;
  height: calc(100vh - 72px);
  z-index: 0;
}

.navWrapper,
.subNavWrapper {
  background: white;
  height: 36px;
  width: 100vw;
  padding: 0 9px;
  position: fixed;
  top: 0;
  z-index: 1000;
  opacity: 0;
  animation: fadeIn 0.45s ease;
  animation-fill-mode: forwards;
  animation-delay: 0.9s;
  filter: drop-shadow(0 -13.5px 9px black);
}

.subNavWrapperMobile {
  display: none;
}

.navEntry {
  text-align: center;
  position: absolute;
  transition: all 0.45s ease;
  transition-delay: 0.45s;
}

.navWrapperMobile {
  display: none;
}

.menu {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.subNavWrapper {
  top: 36px;
  z-index: 450;
  font-family: "MJH-Medium";
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categoriesLeft {
  display: flex;
  justify-content: space-between;
  width: 153px;
}

.categoriesRight {
  display: flex;
  justify-content: space-between;
  width: 360px;
}

/* WORK */

.workWrapper {
  padding: var(--space-L) var(--space-XS);
  width: calc(100vw - 1.8 * var(--space-XS));
  left: 0;
  top: 0;
  transition: opacity 0.45s ease;
}

.workPageSwitch {
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition: transform 0.45s ease;
  width: 180vw;
  overflow: hidden;
  min-height: 100vh;
}

.workInfos {
  display: flex;
  padding-bottom: var(--space-M);
  padding-top: 90px;
  margin-top: -90px;
}

.workInfosSection {
  width: 50%;
  display: flex;
}

.workInfoYear {
  width: 135px;
  font-size: var(--fontSize-XS);
  font-family: "MJH-Regular";
}

.sliderImage {
  object-fit: contain;
  object-position: left;
}

.scrollAnchor {
  padding-top: 85.5px;
  margin-top: -85.5px;
}

.indexGrid {
  padding-left: var(--space-S);
}

.indexWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: var(--space-L);
}

.indexEntry {
  padding-right: var(--space-XS);
  padding-bottom: var(--space-S);
  cursor: pointer;
}

.indexEntry:hover {
  opacity: 0.5;
}

.indexEntry p {
  font-size: var(--fontSize-XS);
  line-height: var(--lineHeight-XS);
  letter-spacing: var(--letterSpacing-XS);
}

.indexImgWrapper {
  width: 100%;
  hyphens: auto;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  position: relative;
}

/* FOOTER */

.footerWrapper {
  background: white;
  position: relative;
  padding: var(--space-S);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.newsletterSignup p {
  font-family: "MJH-Regular";
  font-size: var(--fontSize-XS);
  line-height: var(--lineHeight-XS);
  letter-spacing: var(--letterSpacing-XS);
  padding-bottom: var(--space-XS);
}

.newsletterSignup input {
  border: 1.8px solid var(--blue);
  border-radius: 45px;
  padding: 0px 18px 4.5px 18px;
  width: 100%;
  transition: width 0.27s ease;
  cursor: pointer;
  color: var(--blue);
  font-family: "Siggnal-Regular";
  font-size: var(--fontSize-S);
  letter-spacing: var(--letterSpacing-S);
}

.newsletterSignup .inputWrapper {
  position: relative;
  transition: width 0.27s ease;
  width: 153px;
}

.newsletterSignup .inputWrapper:hover {
  width: 270px;
}

.newsletterSignup .inputWrapper::after {
  content: "->";
  /* color: var; */
  font-size: 21.6pt;
  position: absolute;
  top: 50%;
  right: 13.5px;
  transform: translateY(calc(-50% - 1.8px));
}

.newsletterSignup .inputWrapper:focus-within::after {
  content: "";
}

.newsletterSignup input:focus::placeholder {
  color: transparent;
}

.newsletterSignup input:focus {
  width: 270px;
}

.newsletterSignup input::placeholder {
  color: var(--blue);
  font-family: "Siggnal-Regular";
  font-size: var(--fontSize-S);
  line-height: var(--lineHeight-S);
  letter-spacing: var(--letterSpacing-S);
}

.newsletterSignup input:hover::placeholder {
  opacity: 0.5;
}

.siteMap {
  display: flex;
}

.siteMap ul {
  width: 108px;
}

.siteMap li {
  line-height: 18px;
}

.siteMap li:first-of-type {
  font-family: "MJH-Medium";
  padding-bottom: var(--space-S);
}

/* ABOUT */

.subNavAbout {
  display: flex;
  justify-content: center;
  width: 100%;
}

.subNavAbout span {
  margin: 0 var(--space-S);
  cursor: pointer;
}

.aboutPageWrapper {
  padding-top: var(--space-XL);
}

.aboutEntryWrapper {
  padding: 0 var(--space-S) calc(1.8 * var(--space-L));
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 108px;
  margin-top: -108px;
}

.aboutEntryWrapper h1 {
  text-align: center;
  padding-bottom: var(--space-M);
}

.aboutEntryWrapper h3 {
  text-align: center;
  font-family: "MJH-Medium";
  padding-bottom: var(--space-XS);
}

.aboutEntryWrapper p {
  max-width: 1260px;
}

.aboutEntry {
  display: flex;
  margin: var(--space-S) 0 0 0;
  width: 100%;
}

.aboutEntry img,
.aboutEntryMobile img {
  border-radius: 13.5px;
  padding-bottom: var(--space-S);
}

.aboutEntryMobile {
  display: none;
  margin: var(--space-S) 0 0 0;
  width: 100%;
}

/* CONTACT */

.contactWrapper {
  padding: 360px var(--space-S);
  display: flex;
  width: 100%;
}

.col-50 {
  width: 50%;
}

.col-right {
  display: flex;
}

.caption p {
  font-size: var(--fontSize-XS);
  line-height: var(--lineHeight-XS);
  letter-spacing: var(--letterSpacing-XS);
  font-family: "MJH-Regular";
  max-width: 360px;
}

.contactLine {
  padding-top: var(--space-S);
}

/* ADMINISTRATIVE */

.administrativeWrapper {
  padding: var(--space-XL) var(--space-S);
  width: 45vw;
  max-width: 1170px;
  min-width: 90vw;
}

@media screen and (max-width: 1000px) {
  h1 em {
    text-underline-offset: 4.5px;
    text-decoration-thickness: 1.8px;
  }
  .pageWrapper {
    padding: var(--space-S);
  }

  .homeNavigation {
    display: block;
    text-align: center;
    padding-bottom: var(--space-L);
    width: 100%;
  }

  .textSection {
    padding-bottom: var(--space-L);
  }

  .contactSection {
    display: block;
  }

  .contactColumn {
    width: 100%;
    padding-bottom: var(--space-M);
  }

  .contactColumn h1 {
    padding-bottom: var(--space-S);
  }

  /* NAV */

  .navWrapper {
    display: none;
  }
  .navWrapperMobile {
    display: flex;
    justify-content: center;
    background: white;
    height: 36px;
    width: 100vw;
    padding: 0 9px;
    position: fixed;
    top: 0;
    z-index: 1000;
    opacity: 0;
    animation: fadeIn 0.45s ease;
    animation-fill-mode: forwards;
    animation-delay: 0.9s;
    filter: drop-shadow(0 -13.5px 9px black);
  }
  .navButton {
    padding: var(--space-S) var(--space-M) 16.2px;
    margin: var(--space-S);
    border-radius: 45px;
  }
  .hover-effect-letter {
    display: inline-block;
    transition: transform 0.27s ease;
  }
  .hamburgerWrapper {
    position: absolute;
    right: var(--space-S);
    height: 27px;
    width: 27px;
    transform: scale(63%);
  }

  .hamburger-react {
    width: 27px !important;
    height: 27px !important;
  }

  .menu {
    position: fixed;
    top: 36px;
    background: white;
    width: 100vw;
    text-align: center;
    padding: var(--space-S) 0 var(--space-S);
    transition: transform 0.45s ease;
    z-index: 450;
    display: block;
    filter: drop-shadow(0 -13.5px 9px black);
  }

  /* FOOTER */
  .footerWrapper {
    display: block;
  }
  .newsletterSignup {
    padding-bottom: var(--space-M);
  }

  .newsletterSignup p {
    width: 100%;
    text-align: center;
    padding: 0 27px var(--space-XS);
  }
  .newsletterSignup .inputWrapper {
    padding-top: var(--space-XS);
    width: 100%;
  }
  .newsletterSignup input {
    border: 1.8px solid var(--blue);
    border-radius: 45px;
    padding: 0px 18px 4.5px 18px;
    width: 100%;
    font-size: var(--fontSize-M);
    letter-spacing: var(--letterSpacing-M);
  }
  .newsletterSignup input::placeholder {
    font-size: var(--fontSize-M);
    line-height: var(--lineHeight-M);
    letter-spacing: var(--letterSpacing-M);
  }
  .newsletterSignup input:focus {
    width: 100%;
  }
  .siteMap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: var(--space-M) 0;
  }

  .siteMap li {
    font-size: var(--fontSize-XS);
    line-height: var(--lineHeight-S);
  }
  .siteMap ul {
    width: unset;
  }

  /* WORK */
  .subNavWrapper {
    display: none;
  }
  .subNavWrapperMobile {
    display: block;
    position: fixed;
    top: 36px;
    width: 100%;
    z-index: 90;
  }
  .subNavRow {
    background: white;
    filter: drop-shadow(0 4.5px 9px rgba(0, 0, 0, 0.085));
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .subNavRow span {
    padding: 0 var(--space-XS);
  }
  .workInfos {
    display: block;
    padding-bottom: 0;
  }
  .workInfos h2 {
    padding-bottom: var(--space-S);
  }
  .workInfosSection {
    display: block;
    width: 100%;
  }
  .workInfos {
    padding-top: 108px;
    margin-top: -108px;
  }
  .workSlider {
    margin-top: var(--space-S);
  }
  .index {
    margin-top: var(--space-XS);
  }
  .sliderImage {
    object-fit: cover;
    object-position: center;
  }
  .scrollAnchor {
    padding-top: 180px;
    margin-top: -180px;
  }
  /* ABOUT */
  .aboutEntry {
    display: none;
  }
  .aboutEntryMobile {
    display: block;
  }
  /* CONTACT */
  .contactWrapper {
    display: block;
    padding-top: calc(1.8 * var(--space-L));
    padding-bottom: var(--space-L);
  }
  .col-50 {
    width: 100%;
    padding-bottom: var(--space-M);
  }
}
